[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pymongo = "*"
xlrd = "*"
openpyxl = "*"
keras-tcn = "*"
matplotlib = "*"
scipy = "*"
scikit-learn = "*"
holidays = "*"
arch = "*"
geopy = "*"
gmplot = "*"
networkx = "*"
utm = "*"
pulp = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
